.os-container {
    padding: 10px;
    margin-top: 50px;
    height: 600px;
    width: 400px;
    border-radius: 2px;
    
}

.os-description-label {
    margin: 30px;
}

.os-description-data {
    margin: 40px;
}

.points {
    float: right;
}

.other_contain {
    float:right;
    width: 200px
    margin: 30px;
    margin-left: 400px;
    padding: 50px
}